<a href="https://colab.research.google.com/github/Bhavani-2405/Bhavani/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
sum=a+b+c
print(sum)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
name="bhavani"
type(name)

str

In [ ]:
marks=50
type(marks)

int

In [ ]:
a=55.24
type(a)

float

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=5
b=6
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)

addition: 11
subtraction: -1
multiplication: 30
division: 0.8333333333333334

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
x="123"
print(int(x))

123

In [ ]:
x="123"
print(float(x))

123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
x="bhavani"
print(x[0])

b

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
x="i am swetha"
print(len(x))

11

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
str="hellosiri"
x=str.isalpha()
print(x)

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a=5
b=7
print(a+b)

12

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
str="hello swetha"
substr="swetha"
index=str.index(substr)
print(index)

6

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
x="hello world"
x.upper()

'HELLO WORLD'

In [ ]:
x="hello world"
x.lower()

'hello world'

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
x="pranushka"
count=x.count('a')
print(count)

2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name=input("enter your name:")
print("hello"  +name+  "good morning" )

enter your name:bhavani yadav
hellobhavani yadavgood morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=6
b=4
sum=a+b
print(sum)

10

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("enter name:")
age=input("enter age:")
print("hi,my name is" + name + ", and i am" + age + "years old.")

enter name:swetha
enter age:20
hi,my name isswetha, and i am20years old.

## Control Structures (Conditionals and Loops)

In [ ]:

# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num=int(input("enter a number:"))
if num>0:
    print("positive number")
elif num==0:
   print("zero")
else:
  print("negative number")

enter a number:24
positive number

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
a=4
b=12
c=15
print(max(a,b,c))

15

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year=int(input("enter year to be checked:"))
if(year%4==0 and year%100!=0):

    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

enter year to be checked:2024
2024 is a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num=int(input("enter a number:"))
if(num%3==0 and num%5==0):
  print(num,"is divisible by 3 and 5")
else:
  print(num,"is not divisible by 3 and 5")

enter a number:15
15 is divisible by 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
string = input("Enter string: ")
if(string == string[::-1]) :
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter string: mom
The string is a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1, 11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
for i in range(1, 20):
  if(i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num=int(input("enter number:"))
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

enter number:4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
num=int(input("enter a number:"))
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

enter a number:24
The sum is 300

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("enter a number: "))

fac = 1
i = 1

while i <= num:
	fac = fac * i
	i = i + 1

print("factorial of ", num, " is ", fac)

enter a number: 5
factorial of  5  is  120

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
nterms = int(input("How many terms? "))

n1, n2 = 0, 1
count = 0

if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 11
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
for i in range(2, 101):
 for j in range(2, 101):
  if(i%j == 0):
        break
 if(i==j):
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for i in range(55):
    if i == 50:
        break
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for i in range(1, 20):
  if i%2==0:
     break
  print(i, end=" ")

SyntaxError: invalid syntax (<ipython-input-67-00dfe47a4ed0>, line 5)

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
count=0
str=input("enter a string:")
char=input("enter a character:")
for i in str:
    if i == char:
        count += 1

print(count)

enter a string:bhavani
enter a character:a
2

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = input("Enter Number: ")
sum = 0
for i in num:
    sum = sum + int(i)
print(sum)

Enter Number: 1124
8

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
myList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("The given list is:")
print(myList)
list_length=len(myList)
sumOfElements=0
for i in range(list_length):
    sumOfElements=sumOfElements+myList[i]

print("Sum of all the elements in the list is:", sumOfElements)

The given list is:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
Sum of all the elements in the list is: 45

In [ ]:
# Write a Python program to find the largest element in a list.
a = [1,2,3,4,6,7,99,88,999]
max_num = 0
for i in a:
    if i > max_num:
        max_num = i
print(max_num)

999

In [ ]:
# Write a Python program to reverse a list.
a=[12,23,45,56]
a.reverse()
print(a)

[56, 45, 23, 12]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
lis = ['ab', 'cd', 'ef', 'gh']
lis.remove("ef")
print(lis)

['ab', 'cd', 'gh']

In [ ]:
# Write a Python program to find the index of an element in a list.
a=[9,7,5,3,1]
print(a.index(7))

1

In [ ]:
# Write a Python program to find if a specific element exists in a list.
a = [10, 20, 30, 40, 50]

if 30 in a:
    print("Element exists in the list")
else:
    print("Element does not exist")

Element exists in the list

In [ ]:
# Write a Python program to remove duplicates from a list.
a = [11,11,12,14,24,24,30]

a = set(a)

print(a)

{11, 12, 14, 24, 30}

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
a = [1, 2,2,3,4,5,5,5,6]

print(a.count(2))
print(a.count(5))

2
3

In [ ]:
# Write a Python program to get the number of even numbers in a list.
a = [1,2,3,4,5,6,7,8,9]
for i in a:

    if i % 2 == 0:
        print(i)

2
4
6
8

In [ ]:
# Write a Python program to create a tuple and print it.
tuple = 5, 10, 15, 20, 25
print(tuple)
tuple = 5,

print(tuple)

(5, 10, 15, 20, 25)
(5,)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.
GFG_tuple = ( 1, 2, 3)
GFG_list = []

for i in GFG_tuple:
    GFG_list.append(i)

print(GFG_list)

[1, 2, 3]

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
a=(23,34,54,21,67)
print(max(a))
print(min(a))

67
21

In [ ]:
# Write a Python program to unpack a tuple into variables.
fruits = ("mango", "orange", "apple")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

mango
orange
apple

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
a= {"apple", "banana", "cherry"}

a.add("orange")
print(a)

{'banana', 'cherry', 'apple', 'orange'}

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
a= {'a': 1, 'b': 2, 'c': 3}

print("Keys:", (a.keys()))

print("Values:", (a.values()))

print(a)

Keys: dict_keys(['a', 'b', 'c'])
Values: dict_values([1, 2, 3])
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Write a Python program to access a dictionary value using a key.
a= {"name": "bhavani",
  "roll no": 11,
  "branch": "CSE"}
x = a["branch"]
print(x)

CSE

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
d = {'a': 4, 'b': 6, 'c': 7, 'd':9}

key = 'b'
print(key in d)

key = 'g'
print(key in d)

True
False

In [ ]:
# Write a Python program to merge two dictionaries.
d1= {'a': 4, 'b': 6, 'c': 7, 'd':9}
d2= {'e': 5, 'f': 3, 'g': 8, 'h':2}
d3 = d1 | d2

print(d3)

{'a': 4, 'b': 6, 'c': 7, 'd': 9, 'e': 5, 'f': 3, 'g': 8, 'h': 2}

In [ ]:
# Write a Python program to remove a key from a dictionary.
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
if 'a' in d:
    del d['c']
print(d)

{'a': 1, 'b': 2, 'd': 4}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
d = {
    'name': 'shirisha',
    'age': 20,
    'tasks': ['dev', 'test']
}

result_1 = len(d)
print(result_1)

3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.
d = {'a': 500, 'b': 200, 'c': 500, 'd': 100, 'e': 80}

print(max(d))
print(min(d))

e
a

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [2]:
# Write a Python function that returns the square of a number.
n = 4

square = n * n
print(square)

16

In [4]:
# Write a Python function that accepts two parameters and returns their sum.
num1 = 15
num2 = 12

sum = num1 + num2
print("Sum of", num1, "and", num2 , "is", sum)

Sum of 15 and 12 is 27

In [6]:
# Write a Python function to check if a given number is prime.
num = 11
if num > 1:

    for i in range(2, (num//2)+1):

        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

In [12]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if (n==1 or n==0):

        return 1
    else:
          return (n * factorial(n - 1))
num = 5;
print("number : ",num)
print("Factorial : ",factorial(num))

number :  5
Factorial :  120

In [15]:
# Write a Python function to calculate the power of a number using recursion.
def power(N, P):

    if P == 0:
        return 1
    return (N*power(N, P-1))

if __name__ == '__main__':
    N = 5
    P = 2

    print(power(N, P))

25

In [16]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
string = 'Hello'

count = 0

for i in string:

    count+=1
print(count)

5

In [19]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)

nameAge(name="jyothi", age=20)

nameAge(age=20, name="jyothi")

Hi, I am jyothi
My age is  20
Hi, I am jyothi
My age is  20

In [22]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
x = max(5, 10)
print(x)

10

In [24]:
# Write a Python function that accepts a list of numbers and returns their product.
a = [2, 4, 8, 3]
res = 1

for val in a:
    res = res * val

print(res)

192

In [27]:
# Write a Python function to check if a number is even or odd using the modulo operator.
x = 24
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [29]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
data=[1,2,3,4,5,6,7]

result = [i*i for i in data if i%2!=0]

print(result)

[1, 9, 25, 49]

In [31]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

res = [val for val in a if val % 2 == 0]
print(res)

[2, 4, 6, 8, 10]

In [33]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
test_list = ['python', 'is', 'best', 'for', 'beginners']

print("The original list : " + str(test_list))
max_len = -1
for ele in test_list:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele
print("Maximum length string is : " + res)

The original list : ['python', 'is', 'best', 'for', 'beginners']
Maximum length string is : beginners

In [35]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
string = "Hello World"
indices = [index for index, char in enumerate(string) if char.isupper()]
print(indices)

[0, 6]

In [37]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
n = 10
num1 = 0
num2 = 1
next_number = num2
count = 1

while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

1 2 3 5 8 13 21 34 55 89

In [40]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
keys = ['a','b','c','d','e']
values = [1,2,3,4,5]

myDict = { k:v for (k,v) in zip(keys, values)}
print (myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [42]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
index = [1, 2, 3]
languages = ['python', 'c', 'c++']

dictionary = dict(zip(index, languages))
print(dictionary)

{1: 'python', 2: 'c', 3: 'c++'}

In [44]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
numbers = [1, 2, 3, 4, 5]
cubes = {x: x ** 3 for x in numbers}
print(numbers)
print(cubes)

[1, 2, 3, 4, 5]
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [47]:
# Write a Python program to square each element of a list using the map() function.
def square_num(n):
    return n * n
nums = [4, 5, 2, 9]
print("Original List: ", nums)
result = map(square_num, nums)
print("Square the elements of the said list using map():")
print(list(result))

Original List:  [4, 5, 2, 9]
Square the elements of the said list using map():
[16, 25, 4, 81]

In [49]:
# Write a Python program to filter all even numbers from a list using the filter() function.
list_A = [33, 35, 36, 39, 40, 42]

res = []

for n in list_A:
   if n % 2 == 0:
      res.append(n)
print(res)

[36, 40, 42]

In [52]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for i in range(lower, upper+1):
   if((i%3==0) & (i%5==0)):
      print(i)

Enter lower range limit:0
Enter upper range limit:99
0
15
30
45
60
75
90

In [54]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
nums = [2, 4, 6, 9, 11]
n=2
print("Original list: ", nums)
print("Given number: ", n)
filtered_numbers = list(map(lambda number: number * n, nums))
print("Result:")
print(' '.join(map(str, filtered_numbers)))

Original list:  [2, 4, 6, 9, 11]
Given number:  2
Result:
4 8 12 18 22

In [56]:
# Write a Python program to remove all occurrences of a specific element from a list.
list = [10, 20, 10, 30, 10, 40, 10, 50]
n = 10
print ("Original list:")
print (list)
for x in list:
    if x == n:
        list.remove(x)
print ("list after removing elements:")
print (list)

Original list:
[10, 20, 10, 30, 10, 40, 10, 50]
list after removing elements:
[20, 30, 40, 50]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`